<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"> 
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <script src="https://kit.fontawesome.com/9b64058bd2.js" crossorigin="anonymous"></script>
  <style>@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');</style>
  <title>DeepSpace</title>
</head>
<body>
  <div id="background-video">
    
  </div>

  <div class="ghost-header"></div>
  <header class="primary-header"> 
    <div class="container grid navbar">
      <div class="flex-row align-cen">
        <a href="/" class="logo">DeepSpace</a>
      </div>
      <div class="search-bar">
        <form class="justify-cen align-cen flex-row" action="/search">
          <button class="submit-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input class="search" type="search" name="search" placeholder="Searching for something?">
        </form>
      </div>
      <% if (current == '') { %>
      <div class="sign-button flex-row justify-end align-cen">
        <a href="/user/register" class="btn signup">Sign Up</a>
        <a href="/user/login" class="btn signin">Sign In</a>
      </div>
      <% } else { %>
      <div class="sign-button flex-row justify-end align-cen">
        <a href="/upload" class="btn signup">+ Upload</a>
        <div class="profile-button flex justify-end align-cen">
          <img class="user-profile-pic master h-100" src="<%= current.image %>" alt="profile">
        </div>
      </div>
      <% } %>
    </div>
    
    <div class="profile-menu grid hidden">
      <a class="pop-up align-cen justify-cen flex" href="/setting/" >
        Settings
      </a>
      <a class="pop-up align-cen justify-cen flex" href="/privacypolicy">
        Privacy Policy
      </a>
      <a class="pop-up align-cen justify-cen flex" href="/user/logout">
        Logout
      </a>
    </div>

  </header>
  <div class="main">
    <div class="main-wrapper">

      <div class="side-container">
        <div class="recommended-container">
          <div class="recommended-text">
            <span>Recommended for you</span>
          </div>
          <div class="recommended-user flex-col flex-col">
            <% recommended.forEach((acc, index) => {%>
              <div class="user">
                <div class="user-profile-pic">
                  <a href="/user/other/<%= acc.username %>"><img class="user-profile-pic" src="<%= acc.image %>" alt="profile"></a>
                </div>
                <div class="user-detail">
                  <div class="user-name">
                    <span><%= acc.name %></span>
                  </div>
                  <div class="user-tag">
                    <span>@<%= acc.username %></span>
                  </div>
                </div>
                <div class="user-follow">
                  <% if (isFollowed(acc, current.username)) { %>
                    <a href="/unfollow?unfollow=<%= acc.id %>" class="unfollow">Unfollow</a>
                  <% } else { %>
                    <a href="/follow?follow=<%= acc.id %>" class="follow">Follow</a>
                  <% } %>
                </div>
              </div>
              <% }) %>
          </div>
          <div class="top-accounts">
            <div class="recommended-text">
              <span>Top Accounts</span>
            </div>
            <div class="recommended-user flex-col">
              <% top.forEach((acc, index) => {%>
              <div class="user">
                <div class="user-profile-pic">
                  <a href="/user/other/<%= acc.username %>"><img class="user-profile-pic" src="<%= acc.image %>" alt="profile"></a>
                </div>
                <div class="user-detail">
                  <div class="user-name">
                    <span><%= acc.name %></span>
                  </div>
                  <div class="user-tag">
                    <span>@<%= acc.username %></span>
                  </div>
                </div>
               
                <div class="user-follow">
                  
                  <% if (isFollowed(acc, current.username)) { %>
                    <a href="/unfollow?unfollow=<%= acc.id %>" class="unfollow">Unfollow</a>
                  <% } else { %>
                    <a href="/follow?follow=<%= acc.id %>" class="follow">Follow</a>
                  <% } %>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <% videos.forEach((video, index) => { %>
        <div class="main-item-container">
          <!-- Content Section / Middle Part -->
          <div class="content">
            <video autoplay loop muted class="content-video" controls>
              <source src="<%= video.file %>">
            </video>
          </div>

        <!-- Caption Section / Right Part -->
        <div class="caption-comment grid">
          <div class="caption-container grid">
            <div class="user-caption flex-col" id="user-caption">
              <div class="user">
                <a href="/user/other/<%= user[index].username %>"><img class="user-profile-pic" src="<%= user[index].image %>" alt="profile"></a>
                <div class="user-detail flex-col justify-spa">
                  <div class="user-name">
                    <span><%= user[index].name %></span>
                  </div>
                  <div class="user-tag">
                    <span>@<%= user[index].username %></span>
                  </div>
                </div>
                <div class="user-follow flex-col justify-cen">
                  <% if (isFollowed(user[index], current.username)) { %>
                    <a href="/unfollow?unfollow=<%= user[index].id %>" class="unfollow">Unfollow</a>
                  <% } else { %>
                    <a href="/follow?follow=<%= user[index].id %>" class="follow">Follow</a>
                  <% } %>
                </div>
              </div>
    
              <div class="caption-text">
                <p> <%= video.title %> </p>
              </div>
            </div>
              
            <div class="music-bubble flex-col">
              <div class="music" id="music">
                <%= video.music %>
              </div>
    
              <div class="interactive-bubble grid" id="interactive-bubble">
                <div class="interactive-parts">
                  <% if (isLiked(video, current.id)) { %>
                    <button onclick="location.href='/unlike?postId=<%= video.id %>'" class="btn bubble like">
                    <i class="fa-regular fa-heart fa-solid"></i>
                    </button>
                  <% } else { %>
                    <button onclick="location.href='/like?postId=<%= video.id %>'" class="btn bubble like">
                    <i class="fa-regular fa-heart"></i>
                    </button>
                  <% } %>
                  <span class="count">
                    <%= video.like.length %>
                  </span>
                </div>
                <div class="interactive-parts">
                  <button onclick="comment(<%= index %>)" class="btn bubble">
                    <i class="fa-solid fa-comment"></i>
                  </button>
                  <span class="count">
                    <%= video.comments.length %>
                  </span>
                </div>
                <div class="interactive-parts">
                  <button class="btn bubble" onclick="share(<%= index %>)">
                    <i class="fa-solid fa-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="share-container flex-row hidden">
            <!-- <button class="share-button facebook-app">
              <a href="https://www.facebook.com/share.php?u=https://twitter.com/home" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </button> -->
            <button class="share-button whatsapp-app">
              <a href="whatsapp://send?text=https://deepspace.up.railway.app/post/<%= video.id %>" data-action="share/whatsapp/share"><i class="fa-brands fa-whatsapp"></i></a>
            </button>
            <button class="share-button twitter-app">
              <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=https://deepspace.up.railway.app/post/<%= video.id %>"><i class="fa-brands fa-twitter"></i></a>
            </button>
            <button class="share-button line-app">
              <a href="https://social-plugins.line.me/lineit/share?url=https%3A%2F%2Fdeepspace.up.railway.app%2Fpost%2F<%= video.id %>"><i class="fa-brands fa-line"></i></a>
            </button>          
          </div>

          <div class="comment-container flex-col hidden">
            <% video.comments.forEach((comment, index) => { %>
            <div class="comment">
              <div class="comment-user">
                <div class="user-profile-pic">
                  <a href="/user/other/<%= checkUser(comment.userId, users).username %>"><img class="user-profile-pic" src="<%= checkUser(comment.userId, users).image %>" alt="profile"></a>
                </div>
                <div class="user-detail flex-col justify-spa">
                  <div class="user-name">
                    <span><%= checkUser(comment.userId, users).username %></span>
                  </div>
                </div>
              </div>
              <div class="comment-text">
                <p>
                <%= comment.comment %>
                </p>
              </div>
            </div>
            <% }) %>
          </div>

          <div class="comment-add hidden">
            <form class="justify-cen align-cen flex-row" action="/post/postComment?postId=<%= video.id %>" method="POST">
              <textarea class="comment-text-box" name="comment" placeholder="Add your comments..." rows="4" cols="50" maxlength="150"></textarea>
              <input class="submit-comment" type="submit" value="Post">
            </form>
          </div>
        </div>
        </div>
        <% }) %>
      </div>
  
    </div> 
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <!-- bootstrap js -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"
  ></script>
  <script src="js/index.js"></script>
</body>
</html>
