<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"> 
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <script src="https://kit.fontawesome.com/9b64058bd2.js" crossorigin="anonymous"></script>
  <style>@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');</style>
  <title><%= data.name %> (<%= data.username %>) on DeepSpace</title>
</head>
<body>
  <header class="primary-header">
    <div class="container grid navbar">
      <div class="flex-row align-cen">
        <a href="/" class="logo">DeepSpace</a>
      </div>
      <div class="search-bar">
        <form class="justify-cen align-cen flex-row" action="/search">
          <button class="submit-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input class="search" name="search" type="search" placeholder="Searching for something?">
        </form>
      </div>
      <% if (current == '') { %>
        <div class="sign-button flex-row justify-end align-cen">
          <a href="/user/register" class="btn signup">Sign Up</a>
          <a href="/user/login" class="btn signin">Sign In</a>
        </div>
        <% } else { %>
        <div class="sign-button flex-row justify-end align-cen">
          <a href="/upload" class="btn signup">+ Upload</a>
          <div class="profile-button flex justify-end align-cen">
            <img class="user-profile-pic master h-100" src="<%= current.image %>" alt="profile">
          </div>
        </div>
        <% } %>
    </div>

    <div class="profile-menu grid hidden">
      <a class="pop-up align-cen justify-cen flex" href="/setting/" >
        Settings
      </a>
      <a class="pop-up align-cen justify-cen flex" href="/privacypolicy">
        Privacy Policy
      </a>
      <a class="pop-up align-cen justify-cen flex" href="/user/login" >
        Logout
      </a>
    </div>

  </header>
  <main>
    <!-- back to top -->
    <button onclick="topFunction()" id="button-top"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
    </svg></button>

    <div class="main">
      <div class="grid slide">
        <!-- Recommendation Section / Left Part -->
        <div class="recommended grid">
          <div class="recommended-container">
            <div class="recommended-text">
              <span>Recommended for you</span>
            </div>
            <div class="recommended-user flex-col flex-col">
              <% recommended.forEach((acc, index) => {%>
                <div class="user">
                  <div class="user-profile-pic">
                    <a href="/user/other/<%= acc.username %>"><img class="user-profile-pic" src="<%= acc.image %>" alt="profile"></a>
                  </div>
                  <div class="user-detail">
                    <div class="user-name">
                      <span><%= acc.name %></span>
                    </div>
                    <div class="user-tag">
                      <span>@<%= acc.username %></span>
                    </div>
                  </div>
                  <div class="user-follow">
                    <% if (isFollowed(acc, current.username)) { %>
                      <a href="/user/unfollow?unfollow=<%= acc.id %>&from=<%= data.username %>" class="unfollow">Unfollow</a>
                    <% } else { %>
                      <a href="/user/follow?follow=<%= acc.id %>&from=<%= data.username %>" class="follow">Follow</a>
                    <% } %>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
          <div class="recommended-container top-accounts">
            <div class="recommended-text">
              <span>Top Accounts</span>
            </div>
            <div class="recommended-user flex-col">
              <% top.forEach((acc, index) => {%>
                <div class="user">
                  <div class="user-profile-pic">
                    <a href="/user/other/<%= acc.username %>"><img class="user-profile-pic" src="<%= acc.image %>" alt="profile"></a>
                  </div>
                  <div class="user-detail">
                    <div class="user-name">
                      <span><%= acc.name %></span>
                    </div>
                    <div class="user-tag">
                      <span>@<%= acc.username %></span>
                    </div>
                  </div>
                  <div class="user-follow">
                    <% if (isFollowed(acc, current.username)) { %>
                      <a href="/user/unfollow?unfollow=<%= acc.id %>&from=<%= data.username %>" class="unfollow">Unfollow</a>
                    <% } else { %>
                      <a href="/user/follow?follow=<%= acc.id %>&from=<%= data.username %>" class="follow">Follow</a>
                    <% } %>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
        <!-- Content Section / Middle Part -->
  
        <div class="user-page">
          <div class="user-star" id="">
            <div class="user-main-star">
              <div class="user-profile-pic-star">
                <img class="user-profile-pic-star" src="<%= data.image %>" alt="profile">
              </div>

              <div class="user-detail-star flex-col justify-spa">
                <div class="user-name-star">
                  <span><%= data.name %></span>
                </div>
                <div class="user-tag-star">
                  <span>@<%= data.username %></span>
                </div>
              </div>

              <div class="user-follow star flex-col justify-cen">
                <% if (isFollowed(data, current.username)) { %>
                  <a href="/user/unfollow?unfollow=<%= data.id %>&from=<%= data.username %>" class="unfollow">Unfollow</a>
                <% } else { %>
                  <a href="/user/follow?follow=<%= data.id %>&from=<%= data.username %>" class="follow">Follow</a>
                <% } %>
              </div>
            </div>
            <div class="user-followings-star">
              <div class="user-numbers"><%= followingCount %></div>
              Following 
              <div class="user-numbers"><%= followersCount %></div>
              Followers 
              <div class="user-numbers"><%= likes %></div>
              Likes 
            </div>
            <div class="user-description-star">
              <%= data.bio %>
            </div>
          </div>

          <div class="main-container">
            <div class="contents">
              <% videos.forEach((video, index) => { %>
              <div class="thumbnails">
                <a href="/post/<%= video.id %>">
                <video loop muted class="content-video">
                  <source src="<%= video.file %>">
                </a>
                </video>
                <div class="caption"><%= video.title %></div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!-- bootstrap js -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
  crossorigin="anonymous"
></script>
<script src="/js/user.js"></script>
</body>
</html>
