<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"> 
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <title>DeepSpace - Register</title>
</head>

<body>
  <div class="container">
    <main class="register-form">
      <h1 class="title">Welcome to DeepSpace!</h1>
      <p class="error-msg"><%= error.msg %></p>

      <form action="/user/createUser" class="sign-up" method="post">

          <input type="text" name="username" class="name" placeholder="<%= username %>" required>

          <input type="text" name="name" class="name" placeholder="<%= name %>" required>

          <input type="password" name="password" class="akun" placeholder="<%= password %>" id="passInput" required>
          <i class="bi bi-eye-slash" id="togglePassword"></i>
          <input type="password" name="confirmPassword" class="akun" placeholder="<%= confirmPassword %>" id="confInput" required>
          <i class="bi bi-eye-slash" id="toggleConfirm"></i>
          <label for="confirmPass" id="checkMatch"></label>

          <input type="email" name="email" class="email" placeholder="<%= email %>" required>

       <div>
        <span style="color: white;">By creating an account you agree to our <a href="/privacypolicy">Terms & Privacy</a>.</span>
       </div>
        <button type="submit" class="submit">Register</button>
        <div>
          <span style="color: white;">Already Have Account?</span> <a href="/user/login" class="signin-btn">Login</button>
        </div>
      </form>
 
    </main>
    <aside>
        <img src="https://www.gambaranimasi.org/data/media/597/animasi-bergerak-planet-0077.gif">
    </aside>
  </div>
  <footer>

  </footer>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="/js/register.js"></script>
</body>

</html>